.cards-container {
  margin-bottom: 50px;
}
.cards {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

/* Card-Main CSS */

.card-main {
  background-color: #292929;
  padding: 32px 10px 8px 13px; /* Add in final*/
  width: 430px;
  max-height: 470px;
  position: relative;
  border: 3px solid #292929;
}

.card-main-active {
  border: 3px solid #247bff;
}

.card-heading {
  color: #fff;
  font-family: "Mukta", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.play-btn,
.pause-btn,
.stop-btn {
  font-size: 20px;
}
.play-btn {
  color: #58cc00;
}
.pause-btn {
  color: #ff9101;
}
.stop-btn {
  color: #ff2552;
}
.grid-container-top {
  display: grid;
  grid-template-columns: 9% 82% 9%;
  margin: 0px 32px 0 19px;
}
.dot-green {
  background-color: #58cc00;
  border-radius: 50%;
  display: inline-block;
  width: 34px;
  height: 34px;
}
.dot-green-15,
.dot-orange-15,
.dot-red-15 {
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.dot-green-15 {
  background-color: #58cc00;
}
.dot-orange-15 {
  background-color: #ff9101;
}
.dot-red-15 {
  background-color: #ff5252;
}
.red {
  background-color: #ff5252;
}
.orange {
  background-color: #ff9101;
}

.tshirt-img img {
  height: 147px;
  width: 99px;
}
.tshirt_id {
  background: #cdc3ba;
  height: 21px;
  width: 99px;
  margin-top: 9px;
}
.tshirt_id p {
  font-family: "Mukta", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 11px;
  text-align: center;
  /*   margin:; */
  padding: 5px 12px 5px 11px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 270px;
  margin: 20px 22px 0 19px;
  /* grid-template-columns: 25% 70%; */
}

/* /////////////////////////////////////////////////// */

.card-table {
  background-color: #292929;
  display: grid;
  width: 100%;
  margin-left: 10px;
  grid-template-columns: 165px 70px 25px;
}
.card-table thead,
.card-table tbody,
.card-table tr {
  display: contents;
}

.card-table tr {
  width: 266px;
}

.card-table th,
.card-table td {
  /*   overflow: hidden; */
  /*   text-overflow: ellipsis; */
  white-space: nowrap;
  height: 24px;
  /*   width: 266px; */
}

.card-table th {
  color: white;
  margin-bottom: 12px;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

th:last-child {
  border: 0;
}

td {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

tr:nth-child(odd) td {
  background: #2d2d2d;
}

tr:last-child td {
  background: #292929;
  font-weight: bold;
}

/* //////////////////////////// */
.grid__container-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 52px 30px 40px 20px;
}

.stat__card {
  background-color: #292929;
  display: grid;
  grid-gap: 23px;
  row-gap: 20px;
  grid-template-columns: repeat(4, 25%);
  /* grid-gap: 17%; */
}

.stat__container {
  display: flex;
  flex-direction: column;
}

.stat__title {
  color: #fff;
  font-family: "Mukta", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 4px;
}

.stat__content {
  color: #247bff;
  font-family: "Mukta", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 768px) {
  .grid__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Action Box Overlay for select item */
.action-box-overlay {
  position: absolute;
  height: 205px;
  width: 95%;
  background: linear-gradient(180deg, rgba(25, 47, 81, 0) 0%, #192f51 66.67%);
  top: 258px;
  left: 0;
  margin: 0 10px;
  z-index: 99;
}
.action-box-overlay form {
  margin-left: 14px;
  position: relative;
  top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: inherit;
}
